/********************
CSS ELEMENTI GENERICI 
*********************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.boxed{                                 /*classe per allineare bene */
    max-width: 1300px;                   /*meglio dare in pixel per fissare bene la pagina o usare % per farla adattare al dispositivo */
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
}

.hMin520{ min-height: 520px;}
.space {padding: 3em;}
.col {padding: 10px;}

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.alignItemCenter {align-items: center;}
.alignItemTop {align-items: flex-start;}
.space-between {justify-content: space-between;}
.justify-center {justify-content: center;}


.bg-arancio {background-color: orange;}
.bg-lightblue {background-color: lightblue;}
.bg-pink { background-color: pink;}
.bg-blue {background-color: dodgerblue;}
.bg-gray {background-color: #d3d3d3;}
.bg-coral {background-color: lightcoral;}
.bg-teal {background-color: teal;}
.bg-aquamarine {background-color: aquamarine;}
.bg-violet {background-color: violet;}
.bg-black {background-color: #222;}

.text-black{color: black;}
.text-white{color: white;}

.col10 {width: 10%;}
.col20 {width: 20%;}
.col25 {width: 25%;}
.col30 {width: 30%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.col80 {width: 80%;}
.width400 {width: 400px;}

.MiniColumn {width: calc((100% / 6) * 1);}

/******************
CSS ELEMENTI PAGINA
*******************/
body{   
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3161e0;
}


.navbar{       
    font-weight: 600;              /*navbar usato per i link in alto alla pagina */
    display: flex;
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1{
    font-size: 50px;
}
header p{
    padding: 70px;
    font-size: 20px;
}
footer{
    border-top: 2px solid #d3d3d3;
}

.bluebox{
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
    /* position: relative; */
    padding: 3em;  
}

.pinkbox{
    margin: 0 auto;
    max-width: 890px;
    min-height: 420px;
}

.green{
    min-height: 920px; 
}

/*
.coral{
    width: calc((100% / 6) * 2);
}
*/

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
}

.download{
    margin-top: 24px;
    margin-right: 24px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
    border: none
}
.OpenOnYourBrowser{
    margin-top: 24px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
    border: none
}

#Accesso{
    font-weight: 600;
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 40px;
    border: none
}
#item1{
    background-image: url(../img/item1.svg);
    background-position: center;
    background-size: cover;
}

#item2{
    background-image: url(../img/item2.svg);
    background-position: center;
    background-size: cover;
}

#item3{
    background-image: url(../img/item3.svg);
    background-position: center;
    background-size: cover;
}

#item4{
    background-image: url(../img/item4-big.svg);
    background-position: center;
    background-size: contain;
}
h2{
    padding-top: 40px;
    font-size: 48px;
}

main p{
    text-align: left;
    padding-top: 40px;
    font-size: 20px;
}

.padding-top{padding-top: 180px;}
.padding-left{padding-left: 200px;}
