/********************
CSS ELEMENTI GENERICI 
*********************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.boxed{                                 /*classe per allineare bene */
    max-width: 1300px;                   /*meglio dare in pixel per fissare bene la pagina o usare % per farla adattare al dispositivo */
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
}

/* SPAZI */

.hMin520{ min-height: 520px;}
.space {padding: 3em;}
.col {padding: 10px;}
.padding-top{padding-top: 180px;}
.padding-bottom{padding-bottom: 180px;}

/* ALLINEAMENTO */

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.alignItemCenter {align-items: center;}
.alignItemTop {align-items: flex-start;}
.space-between {justify-content: space-between;}
.justify-center {justify-content: center;}

/* COLORI SFONDO */

.bg-arancio {background-color: orange;}
.bg-lightblue {background-color: lightblue;}
.bg-pink { background-color: pink;}
.bg-blue {background-color: dodgerblue;}
.bg-gray {background-color: #d3d3d3;}
.bg-coral {background-color: lightcoral;}
.bg-teal {background-color: teal;}
.bg-aquamarine {background-color: aquamarine;}
.bg-violet {background-color: violet;}
.bg-black {background-color: #222;}
.bg-royalblue {background-color: royalblue;}

/* COORE TESTO */

.text-black{color: black;}
.text-white{color: white;}
.text-blue{color: #8ea1e1;}

/* POSIZIONAMENTO */

.col10 {width: 10%;}
.col20 {width: 20%;}
.col25 {width: 25%;}
.col30 {width: 30%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.col80 {width: 80%;}
.width400 {width: 400px;}
.width270 {width: 270px;}

/* MISC */

.MiniColumn {
    padding-top: 40px;
    width: calc((100% / 6) * 1);
}

svg{display: block;}

.grey-wave path{fill: lightgray;}
.white-wave path{fill: white}
.white-wave{background-color: lightgray;}


/******************
CSS ELEMENTI PAGINA
*******************/
body{   
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3161e0;
}


.navbar{       
    font-weight: 600;              /*navbar usato per i link in alto alla pagina */
    display: flex;
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}



h1{
    font-size: 50px;
}

h2{
    padding-top: 40px;
    font-size: 48px;
}
.smallh2{
    font-size: 30px;
}


header p{
    padding: 70px;
    font-size: 20px;
}
footer{
    
}

.bluebox{
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
    /* position: relative; */
    padding: 3em;  
}

.minibox{
    margin: 0 auto;
    max-width: 890px;
    min-height: 420px;
}

.green{
    min-height: 920px; 
}

/*
.coral{
    width: calc((100% / 6) * 2);
}
*/

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
}

.download{
    margin-top: 24px;
    margin-right: 24px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
    border: none
}

.download2{
    background-color: #8ea1e1;
    margin-top: 60px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
    border: none
}
.OpenOnYourBrowser{
    margin-top: 24px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
    border: none
}

#Accesso{
    font-weight: 600;
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 40px;
    border: none
}
#item1{
    background-image: url(../img/item1.svg);
    background-position: center;
    background-size: cover;
}

#item2{
    background-image: url(../img/item2.svg);
    background-position: center;
    background-size: cover;
}

#item3{
    background-image: url(../img/item3.svg);
    background-position: center;
    background-size: cover;
}

#item4{
    background-image: url(../img/item4-big.svg);
    background-position: center;
    background-size: contain;
}
main p{
    text-align: left;
    padding-top: 40px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
.stars{
    color: black;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    max-width: 600px;
    height: 50px;
}
#ita{
    width: 30px;
    height: 20px;
}

#lingua{
    padding-top: 30px;
    padding-bottom: 30px;
}
i{
    margin-right: 30px;
}

.bottomlinks{
    display: block;
    margin-top: 20px;
    padding: 0;
}

#borderbottom{
    border-bottom: 2px solid #434f73;

}
footer div{
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}
button{
    cursor: pointer;
}
    